@import '../../global/styles/var';
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
}
.child {
  width: 100px;
  height: 100px;
  background: rebeccapurple;
}
.test {
  height: 100%;
  width: 100%;
  position: absolute;
  background: red;
  opacity: 0.5;
  top: 0px;
}
glue-demo {
  width: 500px;
  height: 500px;
}
