@import 'src/global/styles/var';

glue-demo {
  display: block;
  width: 100%;
  height: 100%;
  background: #f7f8fa;
  display: block;
}

glue-number-keyboard-demo,
glue-password-input-demo,
glue-doc-block-demo,
glue-picker-demo,
glue-radio-demo,
glue-search-demo,
glue-tabbar-demo,
glue-index-bar-demo,
glue-tab-demo {
  display: block;
  width: 100%;
  height: 100%;
}
