import { Component, Prop, h } from '@stencil/core';
import classNames from 'classnames';
@Component({
tag: '{{name}}',
styleUrl: '{{name}}.less',
shadow: false,
})
export class {{ properCase name }} {
@Prop() first: string;

render() {
return <div class={classNames('cunstom')}>Hello, World! I'm {this.first}</div>;
}
}