name: Glue Actions Build and Deploy

# Run this workflow every time a new commit pushed to your repository
on:
  push:
    branches:
      - main

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  build-and-deploy:
    # Name the Job
    name: 构建和部署文档
    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      # If you're using actions/checkout@v2 you must set persist-credentials to false in most cases for the deployment to work correctly.
      - name: 获取源码
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      # Runs the Glue Actions Build and Deploy
      - name: 安装和构建
        run: |
          yarn install
          yarn build
      - name: 部署
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/doc/dist # The folder the action should deploy.
